{% extends 'base.html.twig' %}

{% block title %}Divines Finances Conseils{% endblock %}

{% block body %}
    <div class="financity-page-wrapper" id="financity-page-wrapper">
        <div class="gdlr-core-page-builder-body">
            <div class="gdlr-core-pbf-wrapper " style="padding: 58px 0px 0px 0px;" id="gdlr-core-wrapper-1">
                <div class="gdlr-core-pbf-background-wrap" style="background-color: #172852 ;"></div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-revolution-slider-item gdlr-core-item-pdlr gdlr-core-item-pdb " style="padding-bottom: 0px;">
                                <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                                    <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
                                        <ul>
                                            <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="{{ absolute_url(asset('assets/images/slide/06.jpg')) }}" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""> <img src="{{ absolute_url(asset('/assets/images/slide/06.jpg')) }}" alt="" title="Homepage 2" data-bgposition="center top" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="off" class="rev-slidebg" data-no-retina="">
                                                <div class="tp-caption   tp-resizeme" id="slide-2-layer-1" data-x="28" data-y="center" data-voffset="-20" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 128px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;">Finances</div>
                                                <div class="tp-caption   tp-resizeme" id="slide-2-layer-6" data-x="37" data-y="center" data-voffset="-95" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 60px; font-weight: 400; color: #89a6ef; letter-spacing: 0px;font-family:Montserrat;">Divine</div>
                                                <div class="tp-caption   tp-resizeme" id="slide-2-layer-2" data-x="38" data-y="center" data-voffset="107" data-width="['724']" data-height="['65']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":280,"speed":300,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; min-width: 724px; max-width: 724px; max-width: 65px; max-width: 65px; white-space: normal; font-size: 20px; line-height: 32px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;">Nous vous aidons à gérer vos actifs, vous fournissons des conseils financiers. Laissez-nous le problème d'argent et concentrez-vous sur votre cœur de métier.</div>
                                            </li>
                                            <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="{{ absolute_url(asset('assets/images/slide/slider-1.jpg')) }}" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""> <img src="{{ absolute_url(asset('assets/images/slide/slider-2.jpg')) }}" alt="" title="Homepage 2" data-bgposition="center top" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="off" class="rev-slidebg" data-no-retina="">
                                                <div class="tp-caption   tp-resizeme" id="slide-1-layer-1" data-x="24" data-y="center" data-voffset="-19" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 130px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;">Conseils</div>
                                                <div class="tp-caption   tp-resizeme" id="slide-1-layer-2" data-x="37" data-y="center" data-voffset="85" data-width="['642']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":280,"speed":300,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; min-width: 642px; max-width: 642px; white-space: normal; font-size: 20px; line-height: 32px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;">Nous vous aidons à gérer vos actifs, vous fournissons des conseils financiers. Laissez-nous le problème d'argent et concentrez-vous sur votre cœur de métier</div>
                                            </li>
                                        </ul>

                                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;" data-skin="Column Service HP 1">
                <div class="gdlr-core-pbf-background-wrap" style="background-color: #f5f5f5 ;">
                    <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-size: cover;background-position: center;" data-parallax-speed="0.2"></div>
                </div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
                        <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first" data-skin="Hp2 Column Service">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 80px 40px 30px 60px;" data-sync-height="service-height" data-sync-height-center="">
                                <div class="gdlr-core-pbf-background-wrap">
                                    <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url({{ absolute_url(asset('assets/images/bg/service1.jpg')) }});background-size: cover;background-position: center;" data-parallax-speed="0.1"></div>
                                </div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                            <div class="gdlr-core-column-service-content-wrapper">
                                                <div class="gdlr-core-column-service-title-wrap">
                                                    <h3 class="gdlr-core-column-service-title" style="font-size: 22px;font-weight: 600;letter-spacing: 0px;text-transform: none;">Expertise et  Conseil</h3></div>
                                                <div class="gdlr-core-column-service-content" style="font-size: 17px;">
                                                    <p>Lorem ipsum dolor sit amet, consectetur dolorem adipisicing elit. Amet  eos incidunt maiores nihil pariatur praesentium.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-20" data-skin="Hp2 Column Service">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 80px 40px 30px 60px;" data-sync-height="service-height" data-sync-height-center="">
                                <div class="gdlr-core-pbf-background-wrap">
                                    <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url({{ absolute_url(asset('assets/images/bg/service2.jpg')) }});background-size: cover;background-position: center;" data-parallax-speed="0.1"></div>
                                </div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                            <div class="gdlr-core-column-service-content-wrapper">
                                                <div class="gdlr-core-column-service-title-wrap">
                                                    <h3 class="gdlr-core-column-service-title" style="font-size: 22px;font-weight: 600;letter-spacing: 0px;text-transform: none;">Audit</h3></div>
                                                <div class="gdlr-core-column-service-content" style="font-size: 17px;">
                                                    <p>Lorem ipsum dolor sit amet, consectetur commodi adipisicing elit. Ab accusamus, accusantium alias  consequatur consequuntur delectus ex neque  </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-20" data-skin="Hp2 Column Service 2">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 80px 40px 30px 60px;" data-sync-height="service-height" data-sync-height-center="">
                                <div class="gdlr-core-pbf-background-wrap">
                                    <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url({{ absolute_url(asset('assets/images/bg/service3.jpg')) }});background-size: cover;background-position: center;" data-parallax-speed="0.1"></div>
                                </div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                            <div class="gdlr-core-column-service-content-wrapper">
                                                <div class="gdlr-core-column-service-title-wrap">
                                                    <h3 class="gdlr-core-column-service-title" style="font-size: 22px;font-weight: 600;letter-spacing: 0px;text-transform: none;">Missions spécifiques</h3></div>
                                                <div class="gdlr-core-column-service-content" style="font-size: 17px;">
                                                    <p>Lorem ipsum dolor sit amet, consectetur ratione adipisicing elit. Corporis est ipsum libero, modi  rerum temporibus? </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-wrapper " style="margin: 30px 0px 0px 0px;">
                <div class="gdlr-core-pbf-background-wrap">
                    <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-repeat: no-repeat;background-position: center;" data-parallax-speed="0.04"></div>
                </div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 27px;">
                                <div class="gdlr-core-title-item-title-wrap ">
                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 44px;font-weight: 600;letter-spacing: 0px;text-transform: none;color: #232323;">Nos services<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal" style="padding-bottom: 25px;">
                                <div class="gdlr-core-divider-container gdlr-core-center-align" style="max-width: 54px;">
                                    <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #254099;border-bottom-width: 4px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-wrapper " style="margin: 0px 0px 0px 0px;padding: 0px 0px 160px 0px;">
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-hover-box-item gdlr-core-item-pdb clearfix  gdlr-core-left-align" style="padding-bottom: 20px;">
                                <div class="gdlr-core-hover-box-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20 gdlr-core-column-first">
                                    <div class="gdlr-core-hover-box  gdlr-core-outer-frame-element  clearfix" style="box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); ">
                                        <div class="gdlr-core-hover-box-thumbnail-top gdlr-core-media-image"><img src="{{ absolute_url(asset('assets/images/blog/01.jpg')) }}" alt="" width="700" height="423"></div>
                                        <div class="gdlr-core-hover-box-content-wrap" style="padding-left: 35px;">
                                            <h3 class="gdlr-core-hover-box-title gdlr-core-skin-title" style="font-size: 20px;text-transform: none;color: #254099;">Service 1</h3>
                                            <div class="gdlr-core-hover-box-content gdlr-core-skin-content" style="color: #898989; text-align:justify;">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores cum eius et necessitatibus nostrum placeat quas
                                                </p>
                                            </div>
                                        </div>
                                        <a class="gdlr-core-hover-box-link" href="#"></a>
                                    </div>
                                </div>
                                <div class="gdlr-core-hover-box-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20">
                                    <div class="gdlr-core-hover-box  gdlr-core-outer-frame-element  clearfix" style="box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); ">
                                        <div class="gdlr-core-hover-box-thumbnail-top gdlr-core-media-image"><img src="{{ absolute_url(asset('assets/images/services/service2.jpg')) }}" alt="" width="700" height="423"></div>
                                        <div class="gdlr-core-hover-box-content-wrap" style="padding-left: 35px;">
                                            <h3 class="gdlr-core-hover-box-title gdlr-core-skin-title" style="font-size: 20px;text-transform: none;color: #254099;">Service 2</h3>
                                            <div class="gdlr-core-hover-box-content gdlr-core-skin-content" style="color: #898989; text-align:justify;">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias culpa distinctio dolores, facere, fugit libero molestias
                                                </p>
                                            </div>
                                        </div>
                                        <a class="gdlr-core-hover-box-link" href="#"></a>
                                    </div>
                                </div>
                                <div class="gdlr-core-hover-box-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20">
                                    <div class="gdlr-core-hover-box  gdlr-core-outer-frame-element  clearfix" style="box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); ">
                                        <div class="gdlr-core-hover-box-thumbnail-top gdlr-core-media-image"><img src="{{ absolute_url(asset('assets/images/services/service3.jpg')) }}" alt="" width="700" height="423"></div>
                                        <div class="gdlr-core-hover-box-content-wrap" style="padding-left: 35px;">
                                            <h3 class="gdlr-core-hover-box-title gdlr-core-skin-title" style="font-size: 20px;text-transform: none;color: #254099;">Service 3</h3>
                                            <div class="gdlr-core-hover-box-content gdlr-core-skin-content" style="color: #898989;">
                                                <p>Providing insight-driven transformation to investment banks, wealth and asset managers, exchanges, clearing houses.</p>
                                            </div>
                                        </div>
                                        <a class="gdlr-core-hover-box-link" href="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gdlr-core-pbf-wrapper " style="margin: 0px 0px 0px 0px;padding: 0px 0px 100px 0px;" data-skin="Hp2 Column Service">
                <div class="gdlr-core-pbf-background-wrap">
                    <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url({{ absolute_url(asset('assets/images/bg.jpg')) }}) ;background-size: cover;background-position: center;" data-parallax-speed="0.1"></div>
                </div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                        <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="margin: -210px 0px 0px 0px;padding: 0px 0px 10px 0px;">
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-image-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-center-align">
                                            <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;"><img src="background-image: url({{ absolute_url(asset('/assets/images/bg.jpg')) }}" alt="" width="731" height="443"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"><span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption" style="font-size: 15px;font-style: normal;letter-spacing: 1px;text-transform: uppercase;color: #a4a8db; padding-top: 100px;"></span>
                                <div class="gdlr-core-title-item-title-wrap ">
                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 44px;font-weight: 700;letter-spacing: 0px;text-transform: none;color: #ffffff;">Nos ambitions<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3></div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-columnize-item gdlr-core-item-pdlr gdlr-core-item-pdb " style="padding-bottom: 20px;">
                                <div class="gdlr-core-columnize-item-content gdlr-core-skin-divider" style="font-size: 19px;column-count: 2;-moz-column-count: 2;-webkit-column-count: 2;column-gap: 50px;-moz-column-gap: 50px;-webkit-column-gap: 50px;column-rule-width: 0px;-moz-column-rule-width: 0px;-webkit-column-rule-width: 0px;">
                                    <p>
                                        Nous nous attelons à faire émerger davantage de champions locaux, car nous avons la ferme conviction que le développement économique de l’Afrique doit être porté par des acteurs africains.
                                        Accompagner les PME, dans la recherche de financement, les assister, les conseiller et structurer des financements à proposer à leurs partenaires financiers.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gdlr-core-pbf-wrapper " style="margin: 0px 0px 0px 0px;padding: 95px 0px 0px 0px;">
                <div class="gdlr-core-pbf-background-wrap">
                    <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-repeat: no-repeat;background-position: center;" data-parallax-speed="0.04"></div>
                </div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 25px;" id="gdlr-core-title-item-id-65105">
                                <div class="gdlr-core-title-item-title-wrap ">
                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 44px;font-weight: 600;letter-spacing: 0px;text-transform: none;color: #262626;">BLog<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal" style="padding-bottom: 42px;">
                                <div class="gdlr-core-divider-container gdlr-core-center-align" style="max-width: 54px;">
                                    <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #254099;border-bottom-width: 4px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 30px 0px;" data-skin="Hp2 Blog">
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-column-with-frame gdlr-core-item-pdlr" style="padding-bottom: 60px;">
                                <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 " data-type="carousel" data-column="3" data-nav="bullet" data-nav-parent="gdlr-core-blog-item">
                                    <ul class="slides">
                                        <li class="gdlr-core-item-mglr">
                                            <div class="gdlr-core-blog-grid  gdlr-core-blog-grid-with-frame gdlr-core-item-mgb  gdlr-core-outer-frame-element" style="box-shadow: 0 0 30px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 30px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 30px rgba(10, 10, 10,0.07); ">
                                                <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                    <a href="#"><img src="{{ absolute_url(asset('/assets/images/blog/02.jpg')) }}" alt="" width="1920" height="1281"></a>
                                                </div>
                                                <div class="gdlr-core-blog-grid-frame gdlr-core-skin-e-background gdlr-core-js" data-sync-height="blog-grid-with-frame">
                                                    <div class="gdlr-core-blog-grid-date"><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head"><i class="icon_clock_alt"></i></span><a href="#">12 Janvier 2021</a></span>
                                                    </div>
                                                    <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 18px;font-weight: 600;letter-spacing: 0px;"><a href="#">Titre du premier article du blog</a></h3></div>
                                            </div>
                                        </li>
                                        <li class="gdlr-core-item-mglr">
                                            <div class="gdlr-core-blog-grid  gdlr-core-blog-grid-with-frame gdlr-core-item-mgb  gdlr-core-outer-frame-element" style="box-shadow: 0 0 30px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 30px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 30px rgba(10, 10, 10,0.07); ">
                                                <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                    <a href="#"><img src="{{ absolute_url(asset('/assets/images/blog/03.jpg')) }}" alt="" width="1920" height="1280"></a>
                                                </div>
                                                <div class="gdlr-core-blog-grid-frame gdlr-core-skin-e-background gdlr-core-js" data-sync-height="blog-grid-with-frame">
                                                    <div class="gdlr-core-blog-grid-date"><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head"><i class="icon_clock_alt"></i></span><a href="#">03 Janvier 2021</a></span>
                                                    </div>
                                                    <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 18px;font-weight: 600;letter-spacing: 0px;"><a href="#">Titre du deuxième article du blog</a></h3></div>
                                            </div>
                                        </li>
                                        <li class="gdlr-core-item-mglr">
                                            <div class="gdlr-core-blog-grid  gdlr-core-blog-grid-with-frame gdlr-core-item-mgb  gdlr-core-outer-frame-element" style="box-shadow: 0 0 30px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 30px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 30px rgba(10, 10, 10,0.07); ">
                                                <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                    <a href="#"><img src="{{ absolute_url(asset('/assets/images/blog/04.jpg')) }}" alt="" width="1920" height="1280"></a>
                                                </div>
                                                <div class="gdlr-core-blog-grid-frame gdlr-core-skin-e-background gdlr-core-js" data-sync-height="blog-grid-with-frame">
                                                    <div class="gdlr-core-blog-grid-date"><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head"><i class="icon_clock_alt"></i></span><a href="#">28 Decembre 2020</a></span>
                                                    </div>
                                                    <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 18px;font-weight: 600;letter-spacing: 0px;"><a href="#">Titre du troisième article du blog</a></h3></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'>
        var gdlr_core_pbf = {
            "admin": "",
            "video": {
                "width": "640",
                "height": "360"
            },
            "ajax_url": "",
            "ilightbox_skin": "dark"
        };
    </script>
    <script type='text/javascript'>
        var financity_script_core = {
            "home_url": "{{ absolute_url(path('app_home')) }}"
        };
    </script>
    <script type="text/javascript" src="{{ absolute_url(asset('assets/plugins/revslider/public/assets/js/extensions/revolution.extension.slideanims.min.js')) }}"></script>
    <script type="text/javascript" src="{{ absolute_url(asset('assets/plugins/revslider/public/assets/js/extensions/revolution.extension.layeranimation.min.js')) }}"></script>
    <script type="text/javascript" src="{{ absolute_url(asset('assets/plugins/revslider/public/assets/js/extensions/revolution.extension.kenburn.min.js')) }}"></script>
    <script type="text/javascript" src="{{ absolute_url(asset('assets/plugins/revslider/public/assets/js/extensions/revolution.extension.navigation.min.js')) }}"></script>
    <script type="text/javascript" src="{{ absolute_url(asset('assets/plugins/revslider/public/assets/js/extensions/revolution.extension.parallax.min.js')) }}"></script>
    <script>
        /*<![CDATA[*/
        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
        var htmlDivCss = "";
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement("div");
            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
        } /*]]>*/
    </script>

    <script type="text/javascript">
        /*<![CDATA[*/
        var setREVStartSize = function() {
            try {
                var e = new Object,
                    i = jQuery(window).width(),
                    t = 9999,
                    r = 0,
                    n = 0,
                    l = 0,
                    f = 0,
                    s = 0,
                    h = 0;
                e.c = jQuery('#rev_slider_1_1');
                e.gridwidth = [1300];
                e.gridheight = [790];
                e.sliderLayout = "auto";
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function(e, f) {
                    f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
                }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) {
                    var u = (e.c.width(), jQuery(window).height());
                    if (void 0 != e.fullScreenOffsetContainer) {
                        var c = e.fullScreenOffsetContainer.split(",");
                        if (c) jQuery.each(c, function(e, i) {
                            u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
                        }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0))
                    }
                    f = u
                } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
                e.c.closest(".rev_slider_wrapper").css({
                    height: f
                })
            } catch (d) {
                console.log("Failure at Presize of Slider:" + d)
            }
        };
        setREVStartSize();
        var tpj = jQuery;
        var revapi1;
        tpj(document).ready(function() {
            if (tpj("#rev_slider_1_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_1_1");
            } else {
                revapi1 = tpj("#rev_slider_1_1").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "{{ absolute_url(asset('assets/plugins/revslider/public/assets/js/')) }}",
                    sliderLayout: "auto",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        mouseScrollReverse: "default",
                        onHoverStop: "off",
                        arrows: {
                            style: "uranus",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: true,
                            hide_delay: 200,
                            hide_delay_mobile: 1200,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        },
                        bullets: {
                            enable: true,
                            hide_onmobile: false,
                            style: "uranus",
                            hide_onleave: false,
                            direction: "horizontal",
                            h_align: "center",
                            v_align: "bottom",
                            h_offset: 0,
                            v_offset: 30,
                            space: 10,
                            tmp: '<span class="tp-bullet-inner"></span>'
                        }
                    },
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: 1300,
                    gridheight: 790,
                    lazyType: "none",
                    parallax: {
                        type: "mouse",
                        origo: "enterpoint",
                        speed: 400,
                        levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
                    },
                    shadow: 0,
                    spinner: "off",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }
        }); /*]]>*/
    </script>
{% endblock %}