<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLabel4">{{ metier.titre }}</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i data-feather="x"></i></span>
            </button>
        </div>
        <div class="modal-body">
            <img src="{{ absolute_url(asset('uploads/metiers/'~ metier.media)) }}" alt="{{ metier.titre }}" class="img-thumbnail">
            <p class="mt-3">
                {{ metier.contenu|raw }}
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            {{ include('metier/_delete_form.html.twig') }}
            <a href="{{ path('backend_metier_edit', {'id': metier.id}) }}" class="btn btn-primary"> Modifier</a>
        </div>
    </div>
</div>