{{ form_start(form) }}
    <div class="row form-group">
        <div class="col-md-12 mt-3">{{ form_row(form.titre) }}</div>
        <div class="col-md-12 mt-3">{{ form_row(form.contenu) }}</div>
    </div>
    <div class="text-right mt-5">
        {{ form_widget(form) }}
        <a href="{{ path('backend_presentation_index') }}" class="btn btn-outline-secondary">Annuler</a>
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>

{{ form_end(form) }}
