{% extends 'base.html.twig' %}

{% block title %}Notre equipe{% endblock %}

{% block body %}
    <div class="financity-page-wrapper" id="financity-page-wrapper">
        <div class="gdlr-core-page-builder-body">
            <div class="gdlr-core-pbf-wrapper  gdlr-core-hide-in-mobile" style="padding: 200px 0px 30px 0px;">
                <div class="gdlr-core-pbf-background-wrap">
                    <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url({{ absolute_url(asset('assets/images/bg2.jpg')) }});background-size: cover;background-position: top center;" data-parallax-speed="0"></div>
                </div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container"></div>
                </div>
            </div>
            <div class="gdlr-core-pbf-wrapper " style="padding: 10px 0px 10px 40px;">
                <div class="gdlr-core-pbf-background-wrap" style="background-color: #f5f5f5 ;"></div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-breadcrumbs-item gdlr-core-item-pdlr gdlr-core-item-pdb ">
                                <span property="itemListElement" typeof="ListItem">
                                    <a property="item" typeof="WebPage" title="Divine Finances Conseils" href="{{ absolute_url(path("app_home")) }}" class="home">
                                        <span property="name"><i class="fa fa-home"></i></span>
                                    </a>
                                        <meta property="position" content="1">
                                </span>
                                &raquo;
                                <span property="itemListElement" typeof="ListItem">
                                    <a property="item" typeof="WebPage" title="Qui sommes nous?" href="#" class="post post-page">
                                        <span property="name">Notre équipe</span>
                                    </a>
                                        <meta property="position" content="2">
                                </span>
                                &raquo;
                                <span property="itemListElement" typeof="ListItem">
                                    <span property="name">Notre équipe</span>
                                        <meta property="position" content="3">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="financity-page-wrapper" id="financity-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper " style="padding: 20px 0px 20px 0px;">
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first" data-skin="Grey">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 15px;">
                                                    <div class="gdlr-core-title-item-title-wrap ">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 37px;font-weight: 600;text-transform: none;">Notre équipe<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal" style="padding-bottom: 70px;">
                                                    <div class="gdlr-core-divider-container gdlr-core-left-align" style="max-width: 40px;">
                                                        <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #333333;border-bottom-width: 2px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-personnel-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-personnel-item-style-grid gdlr-core-personnel-style-grid gdlr-core-with-divider ">
                                    {% for equipe in equipes %}
                                        <div class="gdlr-core-personnel-list-column  gdlr-core-column-20 {% if loop.first %} gdlr-core-column-first {% endif%} gdlr-core-item-pdlr">
                                            <div class="gdlr-core-personnel-list clearfix">
                                                <div class="gdlr-core-personnel-list-image gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                    <a href="#"><img src="{{ absolute_url(asset('uploads/equipe/'~ equipe.media)) }}" alt="{{ equipe.nom }}" width="600" height="465"></a>
                                                </div>
                                                <div class="gdlr-core-personnel-list-content-wrap">
                                                    <h3 class="gdlr-core-personnel-list-title" style="font-weight: 600;"><a href="#">{{ equipe.nom }}</a></h3>
                                                    <div class="gdlr-core-personnel-list-position gdlr-core-info-font gdlr-core-skin-caption" style="font-size: 15px;font-style: normal;">{{ equipe.fonction }}</div>
                                                    <div class="gdlr-core-personnel-list-divider gdlr-core-skin-divider"></div>
                                                    <div class="gdlr-core-personnel-list-content">
                                                        <p><a href="mailto:{{ equipe.email }}">{{ equipe.email }}</a></p>
                                                    </div>
                                                    <div class="gdlr-core-personnel-list-social">
                                                        <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" style="padding-bottom: 0px;">
                                                        {% if equipe.linkedin %}
                                                            <a href="{{ equipe.linkedin }}" target="_blank" class="gdlr-core-social-network-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                                        {% endif %}
                                                        {% if equipe.facebook %}
                                                            <a href="{{  equipe.facebook }}" target="_blank" class="gdlr-core-social-network-icon" title="facebook"><i class="fa fa-facebook"></i></a>
                                                        {% endif %}
                                                        {% if equipe.twitter %}
                                                            <a href="{{ equipe.twitter }}" target="_blank" class="gdlr-core-social-network-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .accueil-domaine a{color: white}
        .accueil-domaine a p{color: #d0f8f8 }
        .accueil-domaine a:hover p{color: #67f6f6
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'>
        var gdlr_core_pbf = {
            "admin": "",
            "video": {
                "width": "640",
                "height": "360"
            },
            "ajax_url": "",
            "ilightbox_skin": "dark"
        };
    </script>
    <script type='text/javascript'>
        var financity_script_core = {
            "home_url": "{{ absolute_url(path('app_home')) }}"
        };
    </script>
    <script>
        /*<![CDATA[*/
        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
        var htmlDivCss = "";
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement("div");
            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
        } /*]]>*/
    </script>

    <script type="text/javascript">
        /*<![CDATA[*/
        var setREVStartSize = function() {
            try {
                var e = new Object,
                    i = jQuery(window).width(),
                    t = 9999,
                    r = 0,
                    n = 0,
                    l = 0,
                    f = 0,
                    s = 0,
                    h = 0;
                e.c = jQuery('#rev_slider_1_1');
                e.gridwidth = [1300];
                e.gridheight = [790];
                e.sliderLayout = "auto";
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function(e, f) {
                    f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
                }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) {
                    var u = (e.c.width(), jQuery(window).height());
                    if (void 0 != e.fullScreenOffsetContainer) {
                        var c = e.fullScreenOffsetContainer.split(",");
                        if (c) jQuery.each(c, function(e, i) {
                            u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
                        }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0))
                    }
                    f = u
                } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
                e.c.closest(".rev_slider_wrapper").css({
                    height: f
                })
            } catch (d) {
                console.log("Failure at Presize of Slider:" + d)
            }
        };
        setREVStartSize();
        var tpj = jQuery;
        var revapi1;
        tpj(document).ready(function() {
            if (tpj("#rev_slider_1_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_1_1");
            } else {
                revapi1 = tpj("#rev_slider_1_1").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "{{ absolute_url(asset('assets/plugins/revslider/public/assets/js/')) }}",
                    sliderLayout: "auto",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        mouseScrollReverse: "default",
                        onHoverStop: "off",
                        arrows: {
                            style: "uranus",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: true,
                            hide_delay: 200,
                            hide_delay_mobile: 1200,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        },
                        bullets: {
                            enable: true,
                            hide_onmobile: false,
                            style: "uranus",
                            hide_onleave: false,
                            direction: "horizontal",
                            h_align: "center",
                            v_align: "bottom",
                            h_offset: 0,
                            v_offset: 30,
                            space: 10,
                            tmp: '<span class="tp-bullet-inner"></span>'
                        }
                    },
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: 1300,
                    gridheight: 790,
                    lazyType: "none",
                    parallax: {
                        type: "mouse",
                        origo: "enterpoint",
                        speed: 400,
                        levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
                    },
                    shadow: 0,
                    spinner: "off",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }
        }); /*]]>*/
    </script>
{% endblock %}


{% block meta %}
    <meta name="keywords" content="Finance, conseil, cabinet, financier, financement, economie, fond, levée, levée de fonds"  />
    <meta name="description" content="Divine Finances Conseils est un cabinet de conseil financier. Nous accompagnons les entreprises avec des solutions concrètes aux problématiques de levée de fonds, d’optimisation financière, de structuration et de restructuration financière." />
    <meta name="revisit" content="28 days" />
    <meta name="revisit-after" content="7 days">
    <meta name="Author" content="DREAM MAKER, Delrodie AMOIKON">
    <meta name="Copyright" content="www.divinefinancesci.com">
    <meta name="Content-Language" content="FR">
    <meta name="distribution" content="global" />
    <meta name="Audience" content="All" />
    <meta name="Robots" content="full">

    <link rel="canonical" href="{{ absolute_url(path('frontend_equipe_index')) }}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="Item" />
    <meta property="og:title" content="Notre dynamique équipe" />
    <meta property="og:description" content="Une équipe compétente et pluridisciplinaire qui dispose d’une forte expérience sur le plan national dans divers secteurs menés par des Associés expérimentés.  " />
    <meta property="og:url" content="{{ absolute_url(path('frontend_equipe_index')) }}" />
    <meta property="og:site_name" content="DFC" />
    <meta property="article:section" content="Item" />
    <meta property="article:published_time" content="2021-04-15T15:25:59+00:00" />
    <meta property="og:image" content="{{ absolute_url(asset('assets/images/logo-divine.png')) }}" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="Une équipe compétente et pluridisciplinaire qui dispose d’une forte expérience sur le plan national dans divers secteurs menés par des Associés expérimentés. "/>
    <meta name="twitter:title" content="DIVINE FINANCES CONSEILS"/>
    <meta name="twitter:domain" content="DFC"/>
    <meta name="twitter:image:src" content="{{ absolute_url(asset('assets/images/logo-divine.png')) }}"/>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ absolute_url(path('frontend_equipe_index')) }}"
            },
            "headline": "Notre dynamique équipe",
            "image": [
                "{{ absolute_url(asset('assets/images/logo-divine.png')) }}",
                "{{ absolute_url(asset('assets/images/bw_logo.png')) }}"
            ],
            "datePublished": "2021-04-15T15:25:59+00:00",
            "dateModified": "2021-04-15T15:25:59+00:00",
            "author": {
                "@type": "Organization",
                "name": "Dream Maker, Delrodie AMOIKON"
            },
            "publisher": {
                "@type": "Organization",
                "name": "DIVINE FINANCES CONSEILS",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ absolute_url(asset('assets/images/logo-divine.png')) }}"
                }
            },
            "description": "Une équipe compétente et pluridisciplinaire qui dispose d’une forte expérience sur le plan national dans divers secteurs menés par des Associés expérimentés. "
        }
    </script>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "{{ absolute_url(path('frontend_equipe_index')) }}",
            "contactPoint": [{
                "@type": "ContactPoint",
                "telephone": "+225 27 22 59 92 65",
                "contactType": "Direction",
                "contactOption": "TollFree",
                "areaServed": "FR"
            },{
                "@type": "ContactPoint",
                "telephone": "+225 27 22 59 92 65",
                "contactType": "Direction",
                "contactOption": "TollFree",
                "areaServed": [
                    "CI",
                    "FR"
                ],
                "availableLanguage": [
                    "French",
                    "English"
                ]
            }]
        }
    </script>
{% endblock %}